.banner {
  background-position: bottom;
  background-size: cover;

  section {
    position: relative;
    z-index: 2;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--mainOverlay);
    z-index: 1;
  }
}

.about_section-3 {
  background-color: rgba(247, 247, 247, 0.9);
}
