:root {
    --mainOverlay: #121b26ba;
    --mainAccent: #377dff;
    --darkBg: #141d28;
}

html,
body,
#__nuxt,
#__layout {
    &::-webkit-scrollbar {
        display: none !important;
    }

    -ms-overflow-style: none !important;
    scrollbar-width: none !important;
    overflow: -moz-scrollbars-none !important; //for older versions of firefox
}

// main entry scss file.
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Montserrat", sans-serif !important;
    scroll-behavior: smooth;
    // font-size: small;

    // @media screen and (min-width: 600px) {
    //   font-size: larger
    // }
}

.font-jumbo {
    font-size: 40px;

    @media screen and (min-width: 600px) {
        font-size: 70px;
        line-height: 80px;
    }
}

.font-header {
    font-size: 30px;

    @media screen and (min-width: 600px) {
        font-size: 40px;
    }
}

.font-title {
    font-size: 20px;

    @media screen and (min-width: 600px) {
        font-size: 30px;
    }
}

.font-subtitle {
    font-size: 16px;

    @media screen and (min-width: 600px) {
        font-size: 20px;
    }
}

.letter-spacing {
    letter-spacing: 1px;
}

.cc-wrapper {
    max-width: 1216px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1em;
}

.v-spacing {
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.v-padding {
    padding-top: 10rem;
    padding-bottom: 10rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400 !important;
    font-family: "Montserrat", sans-serif !important;
}

button {
    text-transform: capitalize !important;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #141d28;
}

p,
a,
span {
    font-weight: 400 !important;
    font-family: "Poppins", sans-serif !important;
    margin: 0 !important;
}

.img-fluid {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.font-m {
    font-family: "Montserrat", sans-serif !important;
}

.font-p {
    font-family: "Poppins", sans-serif !important;
}

.left_border {
    border-left: 3px solid #377dff;
}

.bottom_border {
    border-bottom: 1px solid #377dff;
}

// .d-flex {
//   gap: 10px;
//   gap: 10px 20px;
//   /* row-gap column gap */
//   row-gap: 10px;
//   /* sets only for rows */
//   column-gap: 20px;
//   /* sets only for columns */
// }

.hero {
    position: relative;
    background: url(https://res.cloudinary.com/kingsleysolomon/image/upload/v1664304177/webtech/Rectangle_1_sxwzbj.png)
        no-repeat center;
    background-size: cover;
    //   background-blend-mode:luminosity;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: var(--mainOverlay);
        // z-index: -1;
    }

    .hero_desc {
        position: relative;
        z-index: 1;
    }

    .hero_overlay {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 1;
    }

    .hero_title_number {
        font-size: 70px;
        opacity: 0.13;

        @media screen and (min-width: 600px) {
            font-size: 140px;
        }
    }

    .hero_title {
        border-left: 3px solid #377dff;
    }

    .superhero {
        // !create a mixin
        position: absolute;
        z-index: 1;
        bottom: 6.5em;
        right: 0;
    }
}

.profile_card {
    position: relative;

    .profile_socials {
        position: absolute;
        bottom: 0;
        left: 0;
    }
}

.section_4 {
    background: url(https://res.cloudinary.com/kingsleysolomon/image/upload/v1664304148/webtech/Rectangle_goskdz.png)
        no-repeat center;
    background-color: rgba(247, 247, 247, 0.9);
    background-size: cover;
    background-blend-mode: screen;
}

.sect_5_card {
    position: relative;

    .plus_icon {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
    }
}

.hooper {
    height: 20rem !important;
}

.sec_7_img {
    transform: translate(-60px, -230px);
    position: absolute;
    top: 0;
    left: 0;
}

@import "./about.scss";
@import "./portfolio.scss";
